h2{
    text-align: center;
}
.formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}
input{
    font-size: 1.2em;
}
.txtDiv{
    margin: 30px;
}
.btnDiv{
    font-size: 1.2em;
    margin-bottom: 20px;
}
table{
    margin: auto;
    font-size: 1.5em;
    border-collapse: collapse;
    width: 50%;
}

td{
    padding: 5px;
    text-align: center;
}